.about {
  background-color: #CAE7DF;
}
.about h2 {
  font-size: 24px;
}
.box {
  background-image: url(Images/subtle_stripes_2X.png);
  background-repeat: repeat;
}
{
  margin: 3;
  line-height:2 ;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
.container {
  max-width: 1000px;
}
section {
  width: 50%;
  height: 80%;
}

img {
  width: 400px;
  height: 300px;
}
body {
  color: DarkSlateBlue;
  font-family: 'Baloo Tamma 2', cursive;
    font-size: 18px;
}
body {
  margin: 10px 20px 10px;
}

h1 {
  margin: 30px 0;
}
p {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 0;
}
p {
  color: green;
}
body {
  color: black;
  font-family: Helvetica;
  font-size: 18px;
  margin: 50px;
}
h1, h2, h3 , h4 , h5 {
  font-weight: bold;
  font-style: italic
}
p {
  line-height: 3;
}
h1 {
  text-align: center;
}
section li a {
  color: red;
}
a {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: underline;
}

}
* {
  font-size: 100%;
  /* border: 1px solid red; */
}
.box {
  border: 1px solid black;
  padding: 30px;
}

.box p {
  font-size: 50px;
}
